<!DOCTYPE html>
<html>

<head>
  <% content_for :title, "Account Settings" %>
</head>

<body>
  <%= render 'sidebar'  %>
  <!-- MAIN BODY -->
  <section class="account-settings-section">

<h1>Votre e-mail et votre mot de passe</h1>    <hr>

    <button class="btn btn-light">
    <i class="fas fa-exclamation-circle"></i> Vous n'avez actuellement aucune carte de débit ou de crédit enregistrée.
    </button>

  </section>
</body>

</html>